@model EventsReminderApp.MVC.Models.Events
@using EventsReminderApp.MVC.Models


@{
    ViewData["Title"] = "Edit";
    // Calculate maximum date
    DateTime maxDate = DateTime.Now.AddYears(50);
    string maxDateString = maxDate.ToString("yyyy-MM-dd");
}

@{
    ViewData["Title"] = "Edit Event";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" type="date"/>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" type="time"/>
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
